In [ ]:
import os
import sys
import re
import numpy as np 
import pandas as pd
from pathlib import Path
import matplotlib as plt
import seaborn as sns
%matplotlib inline
sns.set_style('white')

dir_meta = Path('meta')
dir_meta.mkdir(exist_ok=True, parents=True)

print(pd.__version__)
print(np.__version__)

dir_data = Path('data')
print(list(dir_data.iterdir()))

:


#### 讀取資料

#### 資料格式對齊:

- 改用慈蔓整理的資料:
    - CA_TTRS.xlsx、SC_TTRS.xlsx、TW_TTRS.xlsx
    - 以物種為單位: "210607_CSV_All_Species_based.csv"    
---
- ~~讀取原始資料 "MC-SJ-CA_ThermalTolerance-Range Size.xlsx"~~
    - ~~資料過濾~~
        - 刪除沒有資料的欄位 
            - df.dropna(axis='columns',how='all', inplace=True)
        - 刪除沒有名稱的欄位 
            - df.loc[:, ~df_CA.columns.str.contains('^Unnamed')]
        - 刪除沒有檔名的資料 
            - df.dropna(subset=['No.'], how='any')
        - 刪除欄位名稱是超連結的欄位 
            - df.loc[:, ~df_CA.columns.str.contains('https:')]
    - ~~資料轉換~~
        - 欄位名稱統一
            - df.rename(columns={'ID_20210210':'Species', 'N_W_length':'W_length',	'N_B_length':'B_length'})
        - 增加Event欄位
            - df['No.'].apply(lambda str_: str_[:4])
        - 改變資料型態
            - 物件 > 浮點數
                -  df[['Dw(g)','W_length','B_length']].apply(pd.to_numeric, errors='coerce')

In [201]:
## Discarded 
# ttrs_raw = 'data/MC-SJ-CA_ThermalTolerance-Range Size.xlsx'

# col_sel = ['Location', 'Event', 'No', 'Family', 'Species', 'Sex', 'Altitude', 'Hot', 'Cold', 'Temp_avg', 'Dw(g)', 'W_length', 'B_length']


# def excel_file_preprocess(df:pd.DataFrame)->pd.DataFrame:
#     print(f'Datt size : {len(df)} | # of Cols : {len(df.columns)}')

#     df.rename(columns={
#         'Sample_No.':'No', 
#         'No.':'No', 
#         'ID_20210210':'Species', 
#         'N_W_length':'W_length', 
#         'N_B_length':'B_length', 
#         'RS_Weight':'Dw(g)'},
#               inplace=True)

#     if 'Event' not in df.columns:
#             df['Event'] = df['No'].apply(lambda x: str(x)[:4])
#     if df["Event"].str.startswith('MC').all():
#         df.columns = df.columns.str.replace(r'.1', '_1')
#         df.rename(columns={'Temp_avg ':'Temp_avg', 'Temp_avg':'Temp_avg_1'}, inplace=True)

#     df[['Dw(g)','W_length','B_length']] = df[['Dw(g)','W_length','B_length']].apply(pd.to_numeric, errors='coerce')

#     df.dropna(axis='columns',how='all', inplace=True)
#     df.dropna(subset=['No'], how='any', inplace=True)

#     df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
#     df = df.loc[:, ~df.columns.str.contains('https:')]

#     print(f'Datt size : {len(df)} | # of Cols : {len(df.columns)}')

#     return df

In [14]:
col_renmed = {'Sample_No.':'No',
              'No.':'No', 
            'Coll_datw':'Date',
            'ID_20210210':'Species',
            'Weight':'Dw(g)',
            'N_W_length':'W_length'	,
            'N_B_length':'B_length',
            }

- MC

In [159]:
## Discarded 
# df_MC = pd.read_excel(ttrs_raw,
#                       header=0,
#                       engine='openpyxl',
#                     #   skiprows=list(range(1,16)),
#               sheet_name='MCTT&RS')

# df_MC = excel_file_preprocess(df_MC)

# df_MC['Location'] = 'Taiwan'
# df_MC = df_MC[col_sel]
# df_MC.to_csv('data/MC.csv')
# df_MC = pd.read_csv('data/MC.csv', index_col=0)
# print(f'Datt size : {len(df_MC)} | # of Cols : {len(df_MC.columns)}')

# # print(df_MC.info())
# print(df_MC.describe())
# df_MC

Datt size : 15338 | # of Cols : 40
Datt size : 15338 | # of Cols : 38

In [ ]:
## read Taiwan data
# df_MC_TTRS = pd.read_excel('data/TW_TTRS.xlsx', engine='openpyxl',
#                       header=0,
#                       usecols="A:Q",
#                       sheet_name='Sheet1'
#                         )

# df_MC_TTRS['Location'] = 'Taiwan'
# df_MC_TTRS.rename(columns=col_renmed, inplace=True)
# df_MC_TTRS.dropna(subset=['No'], how='any', inplace=True)
# df_MC_TTRS

- CA

In [ ]:
## Discarded 
# df_CA = pd.read_excel(ttrs_raw,
#                       header=0, 
#                       skiprows=list(range(1,16)),
#               sheet_name='CATT&RS')

# df_CA = excel_file_preprocess(df_CA)
# df_CA['Location'] = 'Malaysia'
# df_CA = df_CA[col_sel]
# df_CA.to_csv('data/CA.csv')
# df_CA = pd.read_csv('data/CA.csv', index_col=0)
# print(f'Datt size : {len(df_CA)}. | # of Cols : {len(df_CA.columns)}')

# col_CA = df_CA.columns
# print(col_CA)
# print(df_CA.info())
# print(df_CA.describe())
# df_CA

In [ ]:
## read Malaysia data
# df_CA_TTRS = pd.read_excel('data/CA_TTRS.xlsx', engine='openpyxl',
#                       header=0,
#                       usecols="B:R",
#                       skiprows=list(range(1,16)),
#                       sheet_name='Sheet1'
#                         )
# df_CA_TTRS['Location'] = 'Malaysia'
# df_CA_TTRS.rename(columns=col_renmed, inplace=True)
# df_CA_TTRS.dropna(subset=['No'], how='any', inplace=True)
# df_CA_TTRS

- SJ

In [189]:
## Discarded 
# df_SJ = pd.read_excel(ttrs_raw, engine='openpyxl',
#                       index_col=0,
#                       header=0,
#                       usecols="A:AK",
#                     #   skiprows=list(range(1,16)),
#                     sheet_name='SJTT&RS')
# df_SJ = excel_file_preprocess(df_SJ)

# df_SJ['Location'] = 'China'
# df_SJ = df_SJ[col_sel]
# df_SJ.to_csv('data/SJ.csv')
# df_SJ = pd.read_csv('data/SJ.csv', index_col=0)
# print(f'Datt size : {len(df_CA)}. | # of Cols : {len(df_CA.columns)}')

# col_SJ = df_SJ.columns
# print(col_SJ)
# # print(df_SJ.info())
# print(df_SJ.describe())
# df_SJ

Datt size : 4502 | # of Cols : 36
Datt size : 4275 | # of Cols : 33

In [ ]:
## read China data
# df_SJ_TTRS = pd.read_excel('data/SC_TTRS.xlsx', engine='openpyxl',
#                       header=0,
#                       usecols="B:R",
#                     #   skiprows=list(range(1,16)),
#                       sheet_name='Sheet1'
#                         )
# df_SJ_TTRS['Location'] = 'China'
# df_SJ_TTRS.rename(columns=col_renmed, inplace=True)
# df_SJ_TTRS.dropna(subset=['No'], how='any', inplace=True)
# df_SJ_TTRS

- 檔案命名混亂
    - 以正規表達式抓取檔名來跟METADATA作關聯

#### 資量匯整合併

In [22]:
# col_sel = ['Location', 'No', 'Family', 'Species',  'Altitude', 'W_length', 'B_length', 'Dw(g)', 'CTmax', 'CTmin', 'Tmax', 'Tmin', 'Tmean', 'DTR', ]
# df_SJ, df_MC, df_CA = df_SJ_TTRS[col_sel], df_MC_TTRS[col_sel], df_CA_TTRS[col_sel]
# df_TTRS = pd.concat([df_CA, df_SJ, df_MC])
# df_TTRS.to_csv('data/df_TTRS.csv')
df_TTRS = pd.read_csv('data/df_TTRS.csv', index_col=0)
df_TTRS.info()
df_TTRS.describe()
df_TTRS

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23968 entries, 0 to 15337
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  23968 non-null  object
 1   No        23968 non-null  object
 2   Family    21960 non-null  object
 3   Species   19900 non-null  object
 4   Altitude  23927 non-null  float64
 5   W_length  19680 non-null  float64
 6   B_length  20008 non-null  float64
 7   Dw(g)     14094 non-null  float64
 8   CTmax     3438 non-null   float64
 9   CTmin     3317 non-null   float64
 10  Tmax      23927 non-null  float64
 11  Tmin      23927 non-null  float64
 12  Tmean     23927 non-null  float64
 13  DTR       23927 non-null  float64
dtypes: float64(10), object(4)
memory usage: 2.7+ MB

,Location,No,Family,Species,Altitude,W_length,B_length,Dw(g),CTmax,CTmin,Tmax,Tmin,Tmean,DTR
0,Malaysia,CARS1473,Erebidae,CA_LIT03,140.0,18.51,13.71,0.02784,NaN,NaN,27.436906,20.924125,23.722984,6.512781
1,Malaysia,CARS1474,Geometridae,CA_GEO46,140.0,18.16,14.22,0.02796,NaN,NaN,27.436906,20.924125,23.722984,6.512781
2,Malaysia,CARS1475,Nolidae,CA_RSNOL14,140.0,15.86,17.48,0.05492,NaN,NaN,27.436906,20.924125,23.722984,6.512781
3,Malaysia,CARS1476,Nolidae,CA_RSNOL13,140.0,17.78,19.32,0.06750,NaN,NaN,27.436906,20.924125,23.722984,6.512781
4,Malaysia,CARS1477,Erebidae,CA_LIT01,140.0,21.18,17.62,0.08658,NaN,NaN,27.436906,20.924125,23.722984,6.512781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15333,Taiwan,ASIZHX122562,NaN,NaN,1511.0,NaN,NaN,NaN,NaN,NaN,24.295721,17.186140,19.933210,7.109581
15334,Taiwan,ASIZHX122563,NaN,NaN,1511.0,NaN,NaN,NaN,NaN,NaN,24.295721,17.186140,19.933210,7.109581
15335,Taiwan,ASIZHX122564,NaN,NaN,1511.0,NaN,NaN,NaN,NaN,NaN,24.295721,17.186140,19.933210,7.109581
15336,Taiwan,ASIZHX122565,NaN,NaN,1511.0,NaN,NaN,NaN,NaN,NaN,24.295721,17.186140,19.933210,7.109581
15337,Taiwan,ASIZHX122566,NaN,NaN,1511.0,NaN,NaN,NaN,NaN,NaN,24.295721,17.186140,19.933210,7.109581

- 檢視整理好的、species-based 資料

In [23]:
df_TTRS_sp_based = pd.read_csv('data/210607_CSV_All_Species_based.csv')
df_TTRS_sp_based

,Location,Family,Species,Sample Size,TTRS_Elev_up,TTRS_Elev_low,TTRS_Elev_mid,TTRS_RS,TTRS_W_length,TTRS_B_length,TTRS_Weight,TTRS_CTmax,TTRS_CTmin,TTRS_CTrange,TTRS_Tmax,TTRS_Tmin,TTRS_Tmean,TTRS_DTR
0,Malaysia,Geometridae,CA_Abaxas_sp2,2,1959,1959,1959.0,0,28.025000,17.925000,0.027650,35.100000,0.100000,35.000000,17.298785,13.297546,15.040596,4.001239
1,Malaysia,Erebidae,CA_AGA01,2,1372,509,940.5,863,31.835000,22.700000,0.139000,41.000000,10.900000,30.100000,23.906834,18.108418,20.623503,5.798416
2,Malaysia,Erebidae,CA_AGA02,2,1066,903,984.5,163,31.390000,22.430000,0.094690,41.700000,NaN,NaN,23.963156,19.042622,21.094452,4.920534
3,Malaysia,Erebidae,CA_AGA03,1,1800,1800,1800.0,0,32.450000,24.520000,0.145590,NaN,NaN,NaN,18.717044,14.311935,16.155921,4.405110
4,Malaysia,Erebidae,CA_AMATA01,17,1374,903,1138.5,471,14.821875,12.638235,0.011705,41.800000,2.600000,39.200000,23.575832,18.442713,20.619982,5.133119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3173,China,Drepanidae,SJ_THY15,32,3579,2000,2789.5,1579,17.041875,12.862187,0.026804,38.342857,-1.976923,40.319780,21.146612,12.433047,15.682796,8.713565
3174,China,Drepanidae,SJ_THY16,7,2856,1864,2360.0,992,19.010000,15.688571,0.054564,NaN,-1.450000,NaN,20.522450,10.974509,14.733828,9.547941
3175,China,Drepanidae,SJ_THY17,4,2856,2000,2428.0,856,19.702500,15.540000,0.061695,40.600000,4.100000,36.500000,20.047220,10.660688,14.423787,9.386532
3176,China,Uraniidae,SJ_URA01,13,3175,1864,2519.5,1311,13.691667,9.000833,0.008242,39.166667,-1.200000,40.366667,20.598435,10.588436,14.490011,10.009999
3177,China,Uraniidae,SJ_URA02,5,2000,860,1430.0,1140,12.326000,9.526000,0.009460,45.100000,-2.300000,47.400000,27.522405,17.946845,21.213281,9.575560

In [44]:
df_TTRS_sp_based.groupby('Location').mean()

,Sample Size,TTRS_Elev_up,TTRS_Elev_low,TTRS_Elev_mid,TTRS_RS,TTRS_W_length,TTRS_B_length,TTRS_Weight,TTRS_CTmax,TTRS_CTmin,TTRS_CTrange,TTRS_Tmax,TTRS_Tmin,TTRS_Tmean,TTRS_DTR
Location,,,,,,,,,,,,,,,
China,6.095238,2264.080357,1791.279762,2027.68006,472.800595,17.891089,14.309312,0.040103,42.124513,1.043026,41.207814,24.052720,14.644782,18.080844,9.407938
Malaysia,2.732166,1162.319066,994.237354,1078.27821,168.081712,13.120170,11.364688,0.019359,41.461537,2.737338,38.445990,23.199600,17.882645,20.171556,5.316955
Taiwan,12.023859,1858.044606,1346.986515,1602.51556,511.058091,18.245272,14.951575,0.057042,41.332484,1.809045,39.407495,23.964022,16.330847,19.326446,7.633176

In [24]:
df_TTRS_taiwan = df_TTRS_sp_based.query('Location == "Taiwan"')
print(df_TTRS_taiwan.Species.nunique())
df_TTRS_taiwan.Species.unique()
# df_taiwan.groupby(['Family','Species']).count()[['Sample Size']]
df_TTRS_taiwan.describe()

964

,Sample Size,TTRS_Elev_up,TTRS_Elev_low,TTRS_Elev_mid,TTRS_RS,TTRS_W_length,TTRS_B_length,TTRS_Weight,TTRS_CTmax,TTRS_CTmin,TTRS_CTrange,TTRS_Tmax,TTRS_Tmin,TTRS_Tmean,TTRS_DTR
count,964.000000,964.000000,964.000000,964.00000,964.000000,910.000000,933.000000,364.000000,213.000000,241.000000,158.000000,964.000000,964.000000,964.000000,964.000000
mean,12.023859,1858.044606,1346.986515,1602.51556,511.058091,18.245272,14.951575,0.057042,41.332484,1.809045,39.407495,23.964022,16.330847,19.326446,7.633176
std,30.161188,676.908930,685.794758,616.65735,579.633634,7.147961,6.091714,0.076000,2.539703,2.651763,2.855876,4.306000,3.199306,3.587122,1.265184
min,1.000000,343.000000,343.000000,343.00000,0.000000,5.850000,4.400000,0.000100,32.700000,-4.000000,24.700000,14.220765,8.023275,10.750687,5.513848
25%,1.000000,1511.000000,876.000000,1110.00000,0.000000,13.522813,10.761429,0.015040,39.750000,-0.100000,37.798125,20.956755,14.437735,16.983421,6.578053
50%,3.000000,1995.000000,1255.000000,1574.50000,351.000000,17.063958,14.025000,0.034064,41.180000,1.633333,39.546667,23.850630,16.597846,19.431593,7.133994
75%,9.000000,2350.000000,1995.000000,2039.00000,910.000000,21.398500,17.830000,0.065562,43.033333,3.500000,41.126250,27.842132,18.688307,22.090445,8.988897
max,422.000000,3140.000000,2993.000000,3050.00000,2650.000000,85.135000,46.634545,0.606600,48.000000,14.600000,45.150000,31.829795,22.818702,26.269734,9.962890

---

#### 建立檔名, 類群(科、種), TTRS(RR, RS)的關聯資料檔
- 用於後續Autoencoder分析
- 根據影像檔名抓出對應的物種代號
    - 1. 先透過檔名關連到物種('NO' 及 'Specie') 
    - 2. 再與TTRS的metadata作關聯
    - 檔案來源
        - CA、SJ
            - 從檔案名抓出對應的'NO.'格式的名稱，再關聯到metadata
        - MC
            - 從已整理好的tag檔

- 讀入origin資料夾檔名

In [25]:
##　讀入目前所有的影像資料。影像檔名已從　'origin'資料夾導入 origin.csv中
df_origin = pd.read_csv('data/origin.csv',sep='\t', header=None,  names=['fname'])
df_origin['fname'] = df_origin.fname.str.replace('_cropped.png', '')
df_origin

                                                  fname
0     Aberrasine lichenshihi_male_FBG_10-IV-2015_SWu...
1     Abraxas adilluminata_female_Biluxi_1-VII-2015_...
2     Abraxas adilluminata_female_Hewang_28-X-2015_d...
3                Abraxas adilluminata_female_MTTS1558_1
4                 Abraxas adilluminata_female_MTTS302_1
...                                                 ...
8916  Xestia supravidua_male_MCE2750_24-25-VII-2015_...
8917           Xestia supravidua_PT_female_Taiwan_800px
8918                    Xestia tamsi_NSMT2015_180_1_800
8919  Yashmakia suffusa_male_Wulai_15-III-2014_SWu&W...
8920                    Zeuzera multistrigata_male_51mm

[8921 rows x 1 columns]

##### CA&SJ

In [26]:
# [\d]* : 表示1或多個數字；  [_]? : 表示0或1個_
pattern = r"(SJTT[\d]*|CATT[_]?[\d]*|CARS[\d]*|SJRS[\d]*)"
df_origin['No'] = df_origin.fname.str.extract(pattern)

In [27]:
# CATT部分資料檔名有_ 。將_替換掉
index = df_origin.query('No.notnull() and No.str.contains("_")').index.values
df_origin.loc[index,'No'] = df_origin.loc[index,'No'].str.replace('_','')
# df_origin.loc[index]

In [28]:

print(df_origin.query('No.isnull()').__len__())  # MC(Taiwan)
print(df_origin.query('No.notnull()').__len__()) # CA(Malasia)&SJ(China)

# 抓出CA(Malasia)&SJ(China)部分資料
df_origin_notnull = df_origin.query('No.notnull()')
df_origin_notnull.query('~No.str.contains("[\d]")')  #找出檔名不包含數字的

577
8344

                           fname    No
8631                    SJTT不明_1  SJTT
8632  SJTT與0584同採集地與時_1(不建)_male  SJTT

In [29]:
#  1. 先與df_TTRS以No欄位合併，取得各物種學名及各資料測量資料
df_ori_TTRS = df_origin.merge(df_TTRS,
                left_on='No',
                right_on='No',
                how='left')

# df_ori_TTRS_SpNull.to_csv('meta/ori_TTRS_SpNull.csv')
df_ori_TTRS

,fname,No,Location,Family,Species,Altitude,W_length,B_length,Dw(g),CTmax,CTmin,Tmax,Tmin,Tmean,DTR
0,Aberrasine lichenshihi_male_FBG_10-IV-2015_SWu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abraxas adilluminata_female_Biluxi_1-VII-2015_...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abraxas adilluminata_female_Hewang_28-X-2015_d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abraxas adilluminata_female_MTTS1558_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abraxas adilluminata_female_MTTS302_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8917,Xestia supravidua_male_MCE2750_24-25-VII-2015_...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8918,Xestia supravidua_PT_female_Taiwan_800px,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8919,Xestia tamsi_NSMT2015_180_1_800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8920,Yashmakia suffusa_male_Wulai_15-III-2014_SWu&W...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8921,Zeuzera multistrigata_male_51mm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
##檢視馬來西亞與中國影像當中，沒有meta資料的
df_ori_TTRS_SpNull = df_ori_TTRS.query('No.notnull() and Species.isnull()')
df_ori_TTRS_SpNull.query('Location.isnull()')

##抓到的No檔名無異常

,fname,No,Location,Family,Species,Altitude,W_length,B_length,Dw(g),CTmax,CTmin,Tmax,Tmin,Tmean,DTR
643,CARS1075,CARS1075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
776,CARS1444,CARS1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,CARS1733,CARS1733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3795,GEO025_SJTT1080311_缺標籤_1_female,SJTT1080311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3898,GEO033_SJTT814_1_male,SJTT814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4304,GEO066_SJTT647_1_male,SJTT647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513,GEO105_SJTT1081123_1_female,SJTT1081123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5539,LIT09_SJTT20180814_1_female,SJTT20180814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6185,NOC014_SJTT1080411_查號碼_1_male,SJTT1080411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6518,NOC035_SJTT1080115_忘標籤_1_male,SJTT1080115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6523,NOC035_SJTT23XX_1_待確認_male,SJTT23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6524,NOC035_SJTT23XX(待確認)_1_female,SJTT23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8631,SJTT25XX_1,SJTT25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8632,SJTT不明_1,SJTT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8633,SJTT與0584同採集地與時_1(不建)_male,SJTT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- origin資料夾內CA&SJ比對結果: 剩下15筆沒有metadata 
    - CARA有3筆，應是被刪除了
        - ###### ['CARS1075', 'CARS1444', 'CARS1733']
    - SJTT12筆，主要是檔名編碼就有問題
        - ###### ,'GEO025_SJTT1080311_缺標籤_1_female', 'GEO033_SJTT814_1_male','GEO066_SJTT647_1_male', GEO105_SJTT1081123_1_female''LIT09_SJTT20180814_1_female', 'NOC014_SJTT1080411_查號碼_1_male', 'NOC035_SJTT1080115_忘標籤_1_male', 'NOC035_SJTT23XX_1_待確認_male', 'NOC035_SJTT23XX(待確認)_1_female', 'SJTT25XX_1', 'SJTT不明_1', 'SJTT與0584同採集地與時_1(不建)_male']

In [42]:
# 2. 再利用物種欄位與物種均值資料合併
df_ori_TTRS_sp_based = df_ori_TTRS.merge(df_TTRS_sp_based,
                        left_on=['Location', 'Family', 'Species'],
                        right_on=['Location', 'Family', 'Species'],
                        how='left'        
                        )
print('MC data :',
df_ori_TTRS_sp_based.query('Location.isnull() and No.isnull()').__len__()
)

print('CA&SJ data null :',
df_ori_TTRS_sp_based.query('Location.isnull() and No.notnull()').__len__()
)
df_ori_TTRS_sp_based.query('Location.isnull() and No.notnull()')

MC data : 577
CA&SJ data null : 15

,fname,No,Location,Family,Species,Altitude,W_length,B_length,Dw(g),CTmax,...,TTRS_W_length,TTRS_B_length,TTRS_Weight,TTRS_CTmax,TTRS_CTmin,TTRS_CTrange,TTRS_Tmax,TTRS_Tmin,TTRS_Tmean,TTRS_DTR
643,CARS1075,CARS1075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
776,CARS1444,CARS1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,CARS1733,CARS1733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3795,GEO025_SJTT1080311_缺標籤_1_female,SJTT1080311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3898,GEO033_SJTT814_1_male,SJTT814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4304,GEO066_SJTT647_1_male,SJTT647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513,GEO105_SJTT1081123_1_female,SJTT1081123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5539,LIT09_SJTT20180814_1_female,SJTT20180814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6185,NOC014_SJTT1080411_查號碼_1_male,SJTT1080411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6518,NOC035_SJTT1080115_忘標籤_1_male,SJTT1080115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6523,NOC035_SJTT23XX_1_待確認_male,SJTT23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6524,NOC035_SJTT23XX(待確認)_1_female,SJTT23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8631,SJTT25XX_1,SJTT25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8632,SJTT不明_1,SJTT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8633,SJTT與0584同採集地與時_1(不建)_male,SJTT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### MC

- 從之前比對的清單來抓物種名

In [32]:
df_tags = pd.read_csv('./dearlep_img_species/meta/tags_Taiwan_220105.csv', index_col=0)
print(df_tags.columns)
df_tags = df_tags[['Name','Family','Species']]
df_tags.query('Species.isnull()')

Index(['Taxon', 'Sex', 'Name', 'Suborder', 'Family', 'Species'], dtype='object')

                                            Name    Family Species
1948  Mosopia lingmujaungi_male_HT_01_TFRI_800px  Erebidae     NaN

In [46]:
df_ori_Taiwan = df_origin.query('No.isnull()')
df_ori_Taiwan
df_ori_Taiwan_ = df_ori_Taiwan.merge(df_tags,
                left_on='fname',
                right_on='Name',
                how='left'
                )[['fname','Family','Species',]]

# 
df_ori_Taiwan_TTRS = df_ori_Taiwan_[['fname', 'Species',]].merge(df_TTRS_taiwan,
                     left_on= 'Species' , # ['Family','Species']
                     right_on= 'Species' , # ['Family','Species']
                     how='left' )
df_ori_Taiwan_TTRS

,fname,Species,Location,Family,Sample Size,TTRS_Elev_up,TTRS_Elev_low,TTRS_Elev_mid,TTRS_RS,TTRS_W_length,TTRS_B_length,TTRS_Weight,TTRS_CTmax,TTRS_CTmin,TTRS_CTrange,TTRS_Tmax,TTRS_Tmin,TTRS_Tmean,TTRS_DTR
0,Aberrasine lichenshihi_male_FBG_10-IV-2015_SWu...,Aberrasine lichenshihi,Taiwan,Erebidae,17.0,1110.0,343.0,726.5,767.0,9.122000,7.582308,0.003400,NaN,NaN,NaN,29.739528,20.135378,23.956410,9.604150
1,Abraxas adilluminata_female_Biluxi_1-VII-2015_...,Abraxas adilluminata,Taiwan,Geometridae,2.0,1644.0,1511.0,1577.5,133.0,24.270000,16.025000,0.025300,NaN,-2.5000,NaN,23.629525,16.484351,19.288741,7.145173
2,Abraxas adilluminata_female_Hewang_28-X-2015_d...,Abraxas adilluminata,Taiwan,Geometridae,2.0,1644.0,1511.0,1577.5,133.0,24.270000,16.025000,0.025300,NaN,-2.5000,NaN,23.629525,16.484351,19.288741,7.145173
3,Abraxas adilluminata_female_MTTS1558_1,Abraxas adilluminata,Taiwan,Geometridae,2.0,1644.0,1511.0,1577.5,133.0,24.270000,16.025000,0.025300,NaN,-2.5000,NaN,23.629525,16.484351,19.288741,7.145173
4,Abraxas adilluminata_female_MTTS302_1,Abraxas adilluminata,Taiwan,Geometridae,2.0,1644.0,1511.0,1577.5,133.0,24.270000,16.025000,0.025300,NaN,-2.5000,NaN,23.629525,16.484351,19.288741,7.145173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,Xestia supravidua_male_MCE2750_24-25-VII-2015_...,Xestia supravidua,Taiwan,Noctuidae,11.0,2960.0,2039.0,2499.5,921.0,20.110909,17.708182,0.046200,NaN,NaN,NaN,17.685135,10.835734,13.589493,6.849400
573,Xestia supravidua_PT_female_Taiwan_800px,Xestia supravidua,Taiwan,Noctuidae,11.0,2960.0,2039.0,2499.5,921.0,20.110909,17.708182,0.046200,NaN,NaN,NaN,17.685135,10.835734,13.589493,6.849400
574,Xestia tamsi_NSMT2015_180_1_800,Xestia tamsi,Taiwan,Noctuidae,35.0,2993.0,2039.0,2516.0,954.0,18.004412,15.789706,0.055469,38.287500,1.8500,36.437500,16.896606,10.976332,13.433896,5.920274
575,Yashmakia suffusa_male_Wulai_15-III-2014_SWu&W...,Yashmakia suffusa,Taiwan,Geometridae,1.0,1644.0,1644.0,1644.0,0.0,14.710000,10.930000,0.005200,NaN,-2.0000,NaN,22.963328,15.782563,18.644272,7.180766
576,Zeuzera multistrigata_male_51mm,Zeuzera multistrigata,Taiwan,Cossidae,25.0,1734.0,900.0,1317.0,834.0,26.175385,25.836364,0.213576,43.045455,5.5375,37.507955,23.561030,16.222274,19.119217,7.338756

In [34]:
print('MCTT 資料夾比對:')
df_Taiwan_TTRS_NotNull = df_ori_Taiwan_TTRS.query('Location.notnull()')
df_Taiwan_TTRS_NotNull_count = df_Taiwan_TTRS_NotNull.groupby(['Family','Species']).count()
df_Taiwan_TTRS_Null = df_ori_Taiwan_TTRS.query('Location.isnull()')

print('\t- 可比對出檔名的資料筆數 : ', len(df_Taiwan_TTRS_NotNull))
print('\t\t 可比對出的物種數 : ', len(df_Taiwan_TTRS_NotNull_count))

print('\t未比對出檔名的資料筆數 : ', len(df_Taiwan_TTRS_Null))

MCTT 資料夾比對:
	- 可比對出檔名的資料筆數 :  571
		 可比對出的物種數 :  320
	未比對出檔名的資料筆數 :  6

- origin資料夾MC資料比對結果
	- 共577筆影像
	- 可比對出檔名的資料筆數 :   571
		- 可比對出的物種數 :  320
	- 未比對出檔名的資料筆數 :  6

In [75]:
df_Taiwan_TTRS_Null

,fname,Species,Location,Family,Sample Size,TTRS_Elev_up,TTRS_Elev_low,TTRS_Elev_mid,TTRS_RS,TTRS_W_length,TTRS_B_length,TTRS_Weight,TTRS_CTmax,TTRS_CTmin,TTRS_CTrange,TTRS_Tmax,TTRS_Tmin,TTRS_Tmean,TTRS_DTR
104,Atrachea ochrotixa_female_31mm_2400px,Atrachea ochrotixa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Atrachea ochrotixa_female_31mm_800px,Atrachea ochrotixa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Gandhara jieenchenae_female_Hexing_10-III-2019...,Gandhara jieenchenae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,Katha emberifera_femlae_MtDaluenwei_18-II-2018...,Katha emberifera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,Katha emberifera_male_FBG_12-VI-2015_SWu&MOwad...,Katha emberifera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
561,Unknown-1_JRS00469_male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:

# df_Taiwan_TTRS_Null.fname.to_csv('meta/MCTT_fname_null.csv')
# with open('MCTT_fname_null.txt','w', encoding='utf-8') as f:
#     for fname in df_Taiwan_TTRS_Null.fname.values:   
#         f.write(fname+'\n')

#### 合併CA、SJ、MC三地資料

In [47]:
col = ['fname', 'No', 'Altitude', 'W_length','B_length', 'Dw(g)', 'CTmax', 'CTmin', 'Tmax', 'Tmin', 'Tmean', 'DTR',]

df_ori_TTRS_sample_based_Taiwan =  df_ori_TTRS_sp_based.query('No.isnull()')[col]
df_ori_TTRS_sample_based_Taiwan.describe()

,Altitude,W_length,B_length,Dw(g),CTmax,CTmin,Tmax,Tmin,Tmean,DTR
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
temp_Taiwan = df_ori_TTRS_sample_based_Taiwan.merge(df_ori_Taiwan_TTRS,
                                  left_on='fname',
                                  right_on='fname',
                                  how='left'
                                  )[df_ori_TTRS_all.columns.values]
# temp_Taiwan.describe()
temp_Taiwan.iloc[:,temp_Taiwan.columns.str.startswith('TTRS')].describe()
# temp_Taiwan.iloc[:,~temp_Taiwan.columns.str.startswith('TTRS')].describe()

,TTRS_Elev_up,TTRS_Elev_low,TTRS_Elev_mid,TTRS_RS,TTRS_W_length,TTRS_B_length,TTRS_Weight,TTRS_CTmax,TTRS_CTmin,TTRS_CTrange,TTRS_Tmax,TTRS_Tmin,TTRS_Tmean,TTRS_DTR
count,571.000000,571.000000,571.000000,571.000000,566.000000,571.000000,566.000000,344.000000,419.000000,275.000000,571.000000,571.000000,571.000000,571.000000
mean,2214.110333,1427.338004,1820.724168,786.772329,21.020239,16.639435,0.063038,41.102577,1.600448,39.215069,22.416632,15.167915,18.029700,7.248717
std,599.042230,695.018977,560.438410,653.789797,6.578550,5.056577,0.077377,2.446239,2.720616,3.007907,4.104833,3.083985,3.399814,1.192906
min,900.000000,343.000000,722.000000,0.000000,8.695455,6.299500,0.002363,32.700000,-4.000000,24.700000,14.220765,8.023275,10.750687,5.513848
25%,1734.000000,900.000000,1447.000000,223.000000,16.618487,13.092857,0.018440,39.658824,-0.200000,37.766667,19.872389,13.413050,15.902737,6.355104
50%,2300.000000,1511.000000,1802.500000,744.000000,20.104762,16.025000,0.041391,41.000000,1.233333,39.450000,22.212620,15.435441,18.153612,6.773857
75%,2960.000000,1995.000000,2184.500000,1190.000000,24.186250,19.194828,0.070127,42.600000,3.165000,40.810227,25.294960,17.235435,20.336825,8.067813
max,3140.000000,2993.000000,3050.000000,2650.000000,51.950000,40.620000,0.606600,48.000000,14.600000,45.150000,31.079402,21.921056,25.469858,9.937991

In [ ]:
# df_ori_TTRS.query('Location.isnull() and No.notnull()')
# col = df_ori_TTRS_sp_based.columns.values

# temp_CA_SJ =  df_ori_TTRS_sp_based.query('No.notnull()') 
# df_ori_TTRS_all = pd.concat([temp_Taiwan, temp_CA_SJ], 
#                             ignore_index=True)[col]
# df_ori_TTRS_all.to_csv('meta/df_ori_TTRS_all.csv')
df_ori_TTRS_all = pd.read_csv('meta/df_ori_TTRS_all.csv', index_col=0)
df_ori_TTRS_all

:

In [155]:
df_ori_TTRS_all.query('Location.isnull()')

,fname,No,Location,Family,Species,Altitude,W_length,B_length,Dw(g),CTmax,...,TTRS_W_length,TTRS_B_length,TTRS_Weight,TTRS_CTmax,TTRS_CTmin,TTRS_CTrange,TTRS_Tmax,TTRS_Tmin,TTRS_Tmean,TTRS_DTR
104,Atrachea ochrotixa_female_31mm_2400px,NaN,NaN,NaN,Atrachea ochrotixa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Atrachea ochrotixa_female_31mm_800px,NaN,NaN,NaN,Atrachea ochrotixa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Gandhara jieenchenae_female_Hexing_10-III-2019...,NaN,NaN,NaN,Gandhara jieenchenae,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,Katha emberifera_femlae_MtDaluenwei_18-II-2018...,NaN,NaN,NaN,Katha emberifera,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,Katha emberifera_male_FBG_12-VI-2015_SWu&MOwad...,NaN,NaN,NaN,Katha emberifera,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
561,Unknown-1_JRS00469_male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,CARS1075,CARS1075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1206,CARS1444,CARS1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1320,CARS1733,CARS1733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4107,GEO025_SJTT1080311_缺標籤_1_female,SJTT1080311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4210,GEO033_SJTT814_1_male,SJTT814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4616,GEO066_SJTT647_1_male,SJTT647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4825,GEO105_SJTT1081123_1_female,SJTT1081123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5775,LIT09_SJTT20180814_1_female,SJTT20180814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6368,NOC014_SJTT1080411_查號碼_1_male,SJTT1080411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6701,NOC035_SJTT1080115_忘標籤_1_male,SJTT1080115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6706,NOC035_SJTT23XX_1_待確認_male,SJTT23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6707,NOC035_SJTT23XX(待確認)_1_female,SJTT23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8706,SJTT25XX_1,SJTT25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8707,SJTT不明_1,SJTT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8708,SJTT與0584同採集地與時_1(不建)_male,SJTT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
df_ori_TTRS_all.columns
col_TTRS_sample_based = ['fname', 'No', 'Location', 'Family', 'Species', 'Altitude', 'W_length',
       'B_length', 'Dw(g)', 'CTmax', 'CTmin', 'Tmax', 'Tmin', 'Tmean', 'DTR'] 

col_TTRS_sp_based = ['fname', 'No', 'Location', 'Family', 'Species', 'Sample Size', 'TTRS_Elev_up', 'TTRS_Elev_low', 'TTRS_Elev_mid',
       'TTRS_RS', 'TTRS_W_length', 'TTRS_B_length', 'TTRS_Weight',
       'TTRS_CTmax', 'TTRS_CTmin', 'TTRS_CTrange', 'TTRS_Tmax', 'TTRS_Tmin',
       'TTRS_Tmean', 'TTRS_DTR']

In [177]:
df_ori_TTRS_all[col_TTRS_sample_based].describe()

,Altitude,W_length,B_length,Dw(g),CTmax,CTmin,Tmax,Tmin,Tmean,DTR
count,8327.000000,8185.000000,8184.000000,8257.000000,2229.000000,2024.000000,8326.000000,8326.000000,8326.000000,8326.000000
mean,1741.055482,16.170082,13.209037,0.032540,41.543831,1.749506,22.850650,15.659491,18.493515,7.191160
std,958.572062,5.852433,4.894559,0.053629,3.477559,3.686917,3.818413,3.789529,3.552335,2.251227
min,140.000000,4.970000,3.940000,0.000050,-2.100000,-7.000000,12.346008,8.917360,10.444220,3.428648
25%,903.000000,12.050000,9.800000,0.007100,40.000000,-0.700000,20.249839,13.297546,15.660944,4.961650
50%,1494.000000,15.800000,12.630000,0.016420,41.900000,1.500000,23.613013,16.013419,18.841415,5.876855
75%,2000.000000,19.390000,15.780000,0.038870,43.600000,3.700000,24.751342,19.433882,21.472889,9.926412
max,4152.000000,54.600000,52.620000,0.866580,48.900000,42.700000,29.702681,20.924125,23.722984,10.555662

In [178]:
df_ori_TTRS_all[col_TTRS_sp_based].describe()

,Sample Size,TTRS_Elev_up,TTRS_Elev_low,TTRS_Elev_mid,TTRS_RS,TTRS_W_length,TTRS_B_length,TTRS_Weight,TTRS_CTmax,TTRS_CTmin,TTRS_CTrange,TTRS_Tmax,TTRS_Tmin,TTRS_Tmean,TTRS_DTR
count,8257.000000,8257.000000,8257.000000,8257.000000,8257.000000,8234.000000,8241.000000,8247.000000,6083.000000,5937.000000,5259.000000,8257.000000,8257.000000,8257.000000,8257.000000
mean,18.617416,2115.156716,1255.682330,1685.419523,859.474385,16.169764,13.186645,0.032415,41.457666,1.588408,39.919136,22.848102,15.666369,18.497129,7.181733
std,25.031517,1032.991521,779.402719,820.436031,810.320330,5.441749,4.419652,0.041204,2.376263,2.938202,3.293127,2.965512,3.203421,2.900397,2.105556
min,1.000000,140.000000,140.000000,140.000000,0.000000,4.970000,3.940000,0.000140,27.000000,-6.000000,23.250000,12.346008,8.917360,10.444220,3.428648
25%,3.000000,1372.000000,796.000000,1049.500000,0.000000,12.460000,10.260000,0.008525,39.980000,-0.356000,38.056731,20.913984,13.250475,16.266335,5.252664
50%,10.000000,1959.000000,903.000000,1430.000000,676.000000,16.040000,12.834444,0.019229,41.500000,1.409091,40.350000,23.100346,15.942409,18.612207,6.048997
75%,24.000000,2856.000000,1864.000000,2219.500000,1450.000000,19.145000,15.469018,0.042272,42.945833,3.120000,42.016667,24.602041,18.651363,20.968307,9.403740
max,121.000000,4152.000000,4152.000000,4152.000000,3292.000000,54.600000,49.800000,0.617490,47.900000,22.200000,48.400000,29.702681,20.924125,23.722984,10.555662

In [179]:
df_ori_TTRS_all[col_TTRS_sample_based].groupby(['Location', 'Family', 'Species']).mean()

                              Altitude   W_length   B_length     Dw(g)  \
Location Family     Species
China    Bombycidae SJ_BOM01    860.00  15.982000  14.721111  0.056160
                    SJ_BOM02   1536.00  17.610000  14.190000  0.079300
         Cossidae   SJ_COS01   2980.25  18.553333  18.200435  0.117595
                    SJ_COS02   1350.00  22.034000  23.380000  0.154166
         Crambidae  SJ_CRA01   2612.00  17.045000  12.470000  0.016500
...                                ...        ...        ...       ...
Malaysia Uraniidae  CA_URA08   1372.00  14.310000   9.300000  0.009500
                    CA_URA09   1493.00   9.890000   6.850000  0.003300
                    CA_URA10   1493.00  12.210000   8.290000  0.005900
                    CA_URA11    509.00  14.030000   9.760000  0.004100
                    CA_URA12    470.00  26.420000  14.310000  0.013460

                                  CTmax   CTmin       Tmax       Tmin  \
Location Family     Species
China    Bombycidae SJ_BOM01  46.533333   7.225  29.702681  19.610288
                    SJ_BOM02        NaN   0.200  26.812227  16.849169
         Cossidae   SJ_COS01  43.885714   0.000  20.751077  10.766163
                    SJ_COS02  46.700000  14.000  26.994992  16.954312
         Crambidae  SJ_CRA01  43.600000     NaN  21.533237  11.606825
...                                 ...     ...        ...        ...
Malaysia Uraniidae  CA_URA08  40.900000     NaN  21.887393  16.013419
                    CA_URA09        NaN  -2.500  20.913984  14.865707
                    CA_URA10  39.300000     NaN  20.913984  14.865707
                    CA_URA11  45.900000     NaN  25.926276  20.203417
                    CA_URA12        NaN     NaN  26.085936  20.279590

                                  Tmean        DTR
Location Family     Species
China    Bombycidae SJ_BOM01  22.794524  10.092393
                    SJ_BOM02  20.694877   9.963058
         Cossidae   SJ_COS01  14.624261   9.984914
                    SJ_COS02  20.582677  10.040680
         Crambidae  SJ_CRA01  15.660944   9.926412
...                                 ...        ...
Malaysia Uraniidae  CA_URA08  18.612207   5.873974
                    CA_URA09  17.728966   6.048277
                    CA_URA10  17.728966   6.048277
                    CA_URA11  22.634799   5.722858
                    CA_URA12  22.749810   5.806346

[2199 rows x 10 columns]

In [59]:
df_ori_TTRS_all[col_TTRS_sp_based].groupby(['Location', 'Family', 'Species']).mean().query('Location=="Taiwan"')

                                                          Sample Size  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana                    2.0
                    Triuncina brunnea                            19.0
         Cossidae   Zeuzera multistrigata                        25.0
         Crambidae  Botyodes asialis                              1.0
                    Bradina aulacodialis                        111.0
...                                                               ...
         Pyralidae  Lamida obscura                              422.0
         Sphingidae Agrius convolvuli                             1.0
                    Smerinthulus perversa flavomaculatus          1.0
         Thyrididae Pyrinioides sinuosus                          5.0
         Zygaenidae Clelea formosana                              1.0

                                                          TTRS_Elev_up  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana                   900.0
                    Triuncina brunnea                           1734.0
         Cossidae   Zeuzera multistrigata                       1734.0
         Crambidae  Botyodes asialis                            1644.0
                    Bradina aulacodialis                        2039.0
...                                                                ...
         Pyralidae  Lamida obscura                              1255.0
         Sphingidae Agrius convolvuli                           2993.0
                    Smerinthulus perversa flavomaculatus        1995.0
         Thyrididae Pyrinioides sinuosus                         900.0
         Zygaenidae Clelea formosana                             900.0

                                                          TTRS_Elev_low  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana                    876.0
                    Triuncina brunnea                            1511.0
         Cossidae   Zeuzera multistrigata                         900.0
         Crambidae  Botyodes asialis                             1644.0
                    Bradina aulacodialis                          544.0
...                                                                 ...
         Pyralidae  Lamida obscura                                544.0
         Sphingidae Agrius convolvuli                            2993.0
                    Smerinthulus perversa flavomaculatus         1995.0
         Thyrididae Pyrinioides sinuosus                          900.0
         Zygaenidae Clelea formosana                              900.0

                                                          TTRS_Elev_mid  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana                    888.0
                    Triuncina brunnea                            1622.5
         Cossidae   Zeuzera multistrigata                        1317.0
         Crambidae  Botyodes asialis                             1644.0
                    Bradina aulacodialis                         1291.5
...                                                                 ...
         Pyralidae  Lamida obscura                                899.5
         Sphingidae Agrius convolvuli                            2993.0
                    Smerinthulus perversa flavomaculatus         1995.0
         Thyrididae Pyrinioides sinuosus                          900.0
         Zygaenidae Clelea formosana                              900.0

                                                          TTRS_RS  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana               24.0
                    Triuncina brunnea                       223.0
         Cossidae   Zeuzera multistrigata                   834.0
         Crambidae  Botyodes asialis                          0.0
                    Bradina aulacodialis                   1495.0
...                                                           ...
         Pyralidae  Lamida obscura                          711.0
         Sphingidae Agrius convolvuli                         0.0
                    Smerinthulus perversa flavomaculatus      0.0
         Thyrididae Pyrinioides sinuosus                      0.0
         Zygaenidae Clelea formosana                          0.0

                                                          TTRS_W_length  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana                16.090000
                    Triuncina brunnea                         15.688000
         Cossidae   Zeuzera multistrigata                     26.175385
         Crambidae  Botyodes asialis                          22.430000
                    Bradina aulacodialis                      13.315176
...                                                                 ...
         Pyralidae  Lamida obscura                            12.630526
         Sphingidae Agrius convolvuli                         47.580000
                    Smerinthulus perversa flavomaculatus            NaN
         Thyrididae Pyrinioides sinuosus                      13.194000
         Zygaenidae Clelea formosana                           8.700000

                                                          TTRS_B_length  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana                12.140000
                    Triuncina brunnea                         14.416111
         Cossidae   Zeuzera multistrigata                     25.836364
         Crambidae  Botyodes asialis                          18.900000
                    Bradina aulacodialis                      12.712195
...                                                                 ...
         Pyralidae  Lamida obscura                            12.599500
         Sphingidae Agrius convolvuli                         40.620000
                    Smerinthulus perversa flavomaculatus      24.900000
         Thyrididae Pyrinioides sinuosus                       8.970000
         Zygaenidae Clelea formosana                           7.440000

                                                          TTRS_Weight  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana               0.042550
                    Triuncina brunnea                        0.036443
         Cossidae   Zeuzera multistrigata                    0.213576
         Crambidae  Botyodes asialis                         0.043800
                    Bradina aulacodialis                     0.008725
...                                                               ...
         Pyralidae  Lamida obscura                           0.013500
         Sphingidae Agrius convolvuli                        0.606600
                    Smerinthulus perversa flavomaculatus     0.059100
         Thyrididae Pyrinioides sinuosus                     0.014740
         Zygaenidae Clelea formosana                         0.002700

                                                          TTRS_CTmax  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana                   NaN
                    Triuncina brunnea                      42.800000
         Cossidae   Zeuzera multistrigata                  43.045455
         Crambidae  Botyodes asialis                             NaN
                    Bradina aulacodialis                   40.757143
...                                                              ...
         Pyralidae  Lamida obscura                               NaN
         Sphingidae Agrius convolvuli                            NaN
                    Smerinthulus perversa flavomaculatus         NaN
         Thyrididae Pyrinioides sinuosus                   43.500000
         Zygaenidae Clelea formosana                             NaN

                                                          TTRS_CTmin  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana              0.000000
                    Triuncina brunnea                       2.666667
         Cossidae   Zeuzera multistrigata                   5.537500
         Crambidae  Botyodes asialis                        2.200000
                    Bradina aulacodialis                    1.266667
...                                                              ...
         Pyralidae  Lamida obscura                         -1.100000
         Sphingidae Agrius convolvuli                       9.600000
                    Smerinthulus perversa flavomaculatus    5.400000
         Thyrididae Pyrinioides sinuosus                    3.150000
         Zygaenidae Clelea formosana                             NaN

                                                          TTRS_CTrange  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana                     NaN
                    Triuncina brunnea                        40.133333
         Cossidae   Zeuzera multistrigata                    37.507955
         Crambidae  Botyodes asialis                               NaN
                    Bradina aulacodialis                     39.490476
...                                                                ...
         Pyralidae  Lamida obscura                                 NaN
         Sphingidae Agrius convolvuli                              NaN
                    Smerinthulus perversa flavomaculatus           NaN
         Thyrididae Pyrinioides sinuosus                     40.350000
         Zygaenidae Clelea formosana                               NaN

                                                          TTRS_Tmax  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana            29.571460
                    Triuncina brunnea                     23.428681
         Cossidae   Zeuzera multistrigata                 23.561030
         Crambidae  Botyodes asialis                      22.963328
                    Bradina aulacodialis                  23.707408
...                                                             ...
         Pyralidae  Lamida obscura                        28.635971
         Sphingidae Agrius convolvuli                     14.278396
                    Smerinthulus perversa flavomaculatus  20.931257
         Thyrididae Pyrinioides sinuosus                  29.484259
         Zygaenidae Clelea formosana                      29.484259

                                                          TTRS_Tmin  \
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana            19.633469
                    Triuncina brunnea                     16.392007
         Cossidae   Zeuzera multistrigata                 16.222274
         Crambidae  Botyodes asialis                      15.782563
                    Bradina aulacodialis                  16.457827
...                                                             ...
         Pyralidae  Lamida obscura                        19.470862
         Sphingidae Agrius convolvuli                      8.098200
                    Smerinthulus perversa flavomaculatus  14.732468
         Thyrididae Pyrinioides sinuosus                  19.571167
         Zygaenidae Clelea formosana                      19.571167

                                                          TTRS_Tmean  TTRS_DTR
Location Family     Species
Taiwan   Bombycidae Bombyx mandarina formosana             23.447859  9.937991
                    Triuncina brunnea                      19.153945  7.036674
         Cossidae   Zeuzera multistrigata                  19.119217  7.338756
         Crambidae  Botyodes asialis                       18.644272  7.180766
                    Bradina aulacodialis                   19.251143  7.249581
...                                                              ...       ...
         Pyralidae  Lamida obscura                         23.088792  9.165109
         Sphingidae Agrius convolvuli                      10.817282  6.180196
                    Smerinthulus perversa flavomaculatus   17.152431  6.198790
         Thyrididae Pyrinioides sinuosus                   23.361823  9.913093
         Zygaenidae Clelea formosana                       23.361823  9.913093

[320 rows x 15 columns]