In [262]:
import os
import sys
import re
import numpy as np 
import pandas as pd
from pathlib import Path
import matplotlib as plt
import seaborn as sns
%matplotlib inline
sns.set_style('white')

dir_meta = Path('meta')
dir_meta.mkdir(exist_ok=True, parents=True)

print(pd.__version__)
print(np.__version__)

0.25.3
1.19.5


#### 讀取資料

#### 資料格式對齊:
- 資料過濾
    - 刪除沒有資料的欄位 
        - df.dropna(axis='columns',how='all', inplace=True)
    - 刪除沒有名稱的欄位 
        - df.loc[:, ~df_CA.columns.str.contains('^Unnamed')]
    - 刪除沒有檔名的資料 
        - df.dropna(subset=['No.'], how='any')
    - 刪除欄位名稱是超連結的欄位 
        - df.loc[:, ~df_CA.columns.str.contains('https:')]
- 資料轉換
    - 欄位名稱統一
        - df.rename(columns={'ID_20210210':'Species', 'N_W_length':'W_length',	'N_B_length':'B_length'})
    - 增加Event欄位
        - df['No.'].apply(lambda str_: str_[:4])
    - 改變資料型態
        - 物件 > 浮點數
            -  df[['Dw(g)','W_length','B_length']].apply(pd.to_numeric, errors='coerce')

In [184]:
def excel_file_preprocess(df:pd.DataFrame)->pd.DataFrame:
    df.dropna(axis='columns',how='all', inplace=True)
    df.dropna(subset=['No.'], how='any', inplace=True)
    df['Event'] = df['No.'].apply(lambda str_: str_[:4])
    print(f'Datt size : {len(df_CA)}. | # of Cols : {len(df_CA.columns)}')

    df.rename(columns={'ID_20210210':'Species', 'N_W_length':'W_length', 'N_B_length':'B_length'}, inplace=True)

    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    df = df.loc[:, ~df.columns.str.contains('https:')]
    df[['Dw(g)','W_length','B_length']] = df[['Dw(g)','W_length','B_length']].apply(pd.to_numeric, errors='coerce')
    return df

In [ ]:
# df_CA = pd.read_excel('MC-SJ-CA_ThermalTolerance-Range Size.xlsx',
#                       header=0,
#                       skiprows=list(range(1,16)),
#               sheet_name='CATT&RS')

# df_CA = excel_file_preprocess(df_CA)
# df_CA

In [189]:
# df_CA = pd.read_csv('CA.csv', index_col=0)
# col_sel = ['Event', 'No.', 'Family', 'Species', 'Sex', 'Altitude', 'Hot', 'Cold', 'Temp_avg', 'Dw(g)', 'W_length', 'B_length']
# df_CA = df_CA[col_sel]
# df_CA.to_csv('CA.csv')
df_CA = pd.read_csv('CA.csv', index_col=0)
print(f'Datt size : {len(df_CA)}. | # of Cols : {len(df_CA.columns)}')

col_CA = df_CA.columns
print(col_CA)
# print(df_CA.info())
print(df_CA.describe())
df_CA

Datt size : 4356. | # of Cols : 12
Index(['Event', 'No.', 'Family', 'Species', 'Sex', 'Altitude', 'Hot', 'Cold',
       'Temp_avg', 'Dw(g)', 'W_length', 'B_length'],
      dtype='object')
          Altitude          Hot         Cold     Temp_avg        Dw(g)  \
count  4316.000000  2072.000000  2071.000000  2075.000000  4306.000000
mean   1132.088508     0.523649     0.476581    22.874072     0.020842
std     455.417129     0.499561     0.499572    19.638023     0.041907
min     140.000000     0.000000     0.000000    -5.600000    -0.332300
25%     796.000000     0.000000     0.000000     2.400000     0.004200
50%    1066.000000     1.000000     0.000000    36.600000     0.009500
75%    1374.000000     1.000000     1.000000    41.900000     0.021800
max    1959.000000     1.000000     1.000000    47.500000     0.710600

          W_length     B_length
count  4232.000000  4303.000000
mean     13.951276    11.796235
std       5.914649     4.646003
min       4.850000     3.940000
25%       9.360000     8.205000
50%      12.740000    11.010000
75%      17.012500    14.300000
max      46.230000    40.260000

,Event,No.,Family,Species,Sex,Altitude,Hot,Cold,Temp_avg,Dw(g),W_length,B_length
0,CATT,CATT2131,Hypeninae,CA_NAA01,f,509.0,1.0,0.0,44.7,0.00150,8.19,6.89
1,CATT,CATT2130,Hypeninae,CA_NAA02,m,509.0,0.0,1.0,-1.9,0.00050,6.16,5.46
2,CATT,CATT2129,Lasiocampidae,CA_LAS04,m,509.0,1.0,0.0,43.9,0.07010,19.14,19.30
3,CATT,CATT2128,Lasiocampidae,CA_LAS04,m,509.0,0.0,1.0,8.4,0.08970,19.27,23.56
4,CATT,CATT2127,Erebidae,CA_HER07,m,509.0,1.0,0.0,39.5,0.00290,9.13,7.44
...,...,...,...,...,...,...,...,...,...,...,...,...
4351,CARS,CARS0005,Geometridae,CA_GEO47,NaN,1066.0,NaN,NaN,NaN,0.00523,12.30,9.24
4352,CARS,CARS0004,Geometridae,CA_GEO106,NaN,1066.0,NaN,NaN,NaN,0.01378,12.34,11.42
4353,CARS,CARS0003,Geometridae,CA_RSGEO152,NaN,1066.0,NaN,NaN,NaN,0.00528,13.35,10.83
4354,CARS,CARS0002,Crambidae,CA_CRA02,NaN,1066.0,NaN,NaN,NaN,0.01720,13.00,12.82
4355,CARS,CARS0001,Crambidae,CA_RSCRA29,NaN,1066.0,NaN,NaN,NaN,0.01385,12.29,13.60

In [ ]:
# df_SJ = pd.read_excel('MC-SJ-CA_ThermalTolerance-Range Size.xlsx',
#                       index_col=0,
#                       header=0,
#                     #   skiprows=list(range(1,16)),
#               sheet_name='SJTT&RS')
# df_SJ = excel_file_preprocess(df_SJ)
# df_SJ

In [191]:
# col_sel = ['Event', 'No.', 'Family', 'Species', 'Sex', 'Altitude', 'Hot', 'Cold', 'Temp_avg', 'Dw(g)', 'W_length', 'B_length']
# df_SJ = df_SJ[col_sel]
# df_SJ.to_csv('SJ.csv')
df_SJ = pd.read_csv('SJ.csv', index_col=0)
print(f'Datt size : {len(df_CA)}. | # of Cols : {len(df_CA.columns)}')

col_SJ = df_SJ.columns
print(col_SJ)
# print(df_SJ.info())
print(df_SJ.describe())
df_SJ

Datt size : 4356. | # of Cols : 12
Index(['Event', 'No.', 'Family', 'Species', 'Sex', 'Altitude', 'Hot', 'Cold',
       'Temp_avg', 'Dw(g)', 'W_length', 'B_length'],
      dtype='object')
          Altitude          Hot         Cold     Temp_avg        Dw(g)  \
count  4274.000000  2247.000000  2247.000000  2261.000000  4207.000000
mean   2341.643659     0.526480     0.473520    22.446351     0.043066
std     941.083010     0.499409     0.499409    20.723560     0.061030
min     860.000000     0.000000     0.000000    -7.000000    -0.406900
25%    1864.000000     0.000000     0.000000     0.700000     0.011870
50%    2000.000000     1.000000     0.000000    36.900000     0.026800
75%    3147.000000     1.000000     1.000000    42.300000     0.051500
max    4152.000000     1.000000     1.000000    48.900000     0.866580

          W_length     B_length
count  4083.000000  4015.000000
mean     18.326809    14.660134
std       4.924894     4.797497
min       8.710000     6.520000
25%      15.190000    11.530000
50%      17.620000    13.890000
75%      20.650000    16.775000
max      54.600000    52.620000

,Event,No.,Family,Species,Sex,Altitude,Hot,Cold,Temp_avg,Dw(g),W_length,B_length
1,SJTT,SJTT0001,Erebidae,SJ_LIT02,female,2000.0,1.0,0.0,37.7,0.01180,18.98,11.53
2,SJTT,SJTT0002,Erebidae,SJ_LIT09,female,2000.0,1.0,0.0,38.8,0.04600,23.65,14.74
3,SJTT,SJTT0003,Notodontidae,SJ_NOT02,female,2000.0,1.0,0.0,42.1,0.11740,32.80,24.75
4,SJTT,SJTT0004,Erebidae,SJ_LIT21,male,2000.0,0.0,1.0,4.0,0.00560,13.69,10.24
5,SJTT,SJTT0005,Erebidae,SJ_HYP06,male,2000.0,1.0,0.0,39.7,0.01790,18.82,15.38
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,SJRS,SJRS00030,Noctuidae,SJ_NOC088,female,4152.0,NaN,NaN,NaN,0.04022,14.44,12.82
4273,SJRS,SJRS00025,Noctuidae,SJ_NOC109,male,4152.0,NaN,NaN,NaN,0.03843,15.29,14.72
4274,SJRS,SJRS00003,Noctuidae,SJ_NOC126,male,4152.0,NaN,NaN,NaN,0.02719,12.79,11.72
4245,SJRS,SJRS00018,Geometridae,NaN,female,4152.0,NaN,NaN,NaN,0.00620,14.10,10.36
4275,SJRS,SJRS01754,NaN,NaN,NaN,4152.0,NaN,NaN,NaN,0.05040,NaN,NaN

- 檔案命名混亂
    - 以正規表達式抓取檔名來跟METADATA作關聯

#### 資量匯整合併

In [193]:
df = pd.concat([df_SJ, df_SJ])
df.describe()

,Altitude,Hot,Cold,Temp_avg,Dw(g),W_length,B_length
count,8548.000000,4494.000000,4494.000000,4522.000000,8414.000000,8166.000000,8030.000000
mean,2341.643659,0.526480,0.473520,22.446351,0.043066,18.326809,14.660134
std,941.027955,0.499354,0.499354,20.721268,0.061026,4.924592,4.797198
min,860.000000,0.000000,0.000000,-7.000000,-0.406900,8.710000,6.520000
25%,1864.000000,0.000000,0.000000,0.700000,0.011860,15.190000,11.530000
50%,2000.000000,1.000000,0.000000,36.900000,0.026800,17.620000,13.890000
75%,3147.000000,1.000000,1.000000,42.300000,0.051500,20.650000,16.777500
max,4152.000000,1.000000,1.000000,48.900000,0.866580,54.600000,52.620000

In [196]:
df

,Event,No.,Family,Species,Sex,Altitude,Hot,Cold,Temp_avg,Dw(g),W_length,B_length
1,SJTT,SJTT0001,Erebidae,SJ_LIT02,female,2000.0,1.0,0.0,37.7,0.01180,18.98,11.53
2,SJTT,SJTT0002,Erebidae,SJ_LIT09,female,2000.0,1.0,0.0,38.8,0.04600,23.65,14.74
3,SJTT,SJTT0003,Notodontidae,SJ_NOT02,female,2000.0,1.0,0.0,42.1,0.11740,32.80,24.75
4,SJTT,SJTT0004,Erebidae,SJ_LIT21,male,2000.0,0.0,1.0,4.0,0.00560,13.69,10.24
5,SJTT,SJTT0005,Erebidae,SJ_HYP06,male,2000.0,1.0,0.0,39.7,0.01790,18.82,15.38
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,SJRS,SJRS00030,Noctuidae,SJ_NOC088,female,4152.0,NaN,NaN,NaN,0.04022,14.44,12.82
4273,SJRS,SJRS00025,Noctuidae,SJ_NOC109,male,4152.0,NaN,NaN,NaN,0.03843,15.29,14.72
4274,SJRS,SJRS00003,Noctuidae,SJ_NOC126,male,4152.0,NaN,NaN,NaN,0.02719,12.79,11.72
4245,SJRS,SJRS00018,Geometridae,NaN,female,4152.0,NaN,NaN,NaN,0.00620,14.10,10.36
4275,SJRS,SJRS01754,NaN,NaN,NaN,4152.0,NaN,NaN,NaN,0.05040,NaN,NaN

In [200]:
df.query('B_length.isnull()')

,Event,No.,Family,Species,Sex,Altitude,Hot,Cold,Temp_avg,Dw(g),W_length,B_length
46,SJTT,SJTT0046,Geometridae,SJ_GEO063,NaN,2000.0,1.0,0.0,39.4,0.01220,20.51,NaN
75,SJTT,SJTT0075,Erebidae,SJ_LIT11,female,2000.0,1.0,0.0,41.4,NaN,13.73,NaN
104,SJTT,SJTT0104,Geometridae,SJ_GEO142,NaN,2000.0,1.0,0.0,42.2,NaN,17.98,NaN
135,SJTT,SJTT0135,Noctuidae,SJ_NOC063,NaN,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
138,SJTT,SJTT0138,Geometridae,SJ_GEO136,NaN,2000.0,1.0,0.0,41.6,NaN,17.91,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4098,SJRS,SJRS01718,NaN,NaN,NaN,3579.0,NaN,NaN,NaN,0.06740,NaN,NaN
4100,SJRS,SJRS00437,Geometridae,NaN,male,3800.0,NaN,NaN,NaN,0.00587,NaN,NaN
4243,SJRS,SJRS01716,NaN,NaN,NaN,3800.0,NaN,NaN,NaN,0.04950,NaN,NaN
4244,SJRS,SJRS01717,NaN,NaN,NaN,3800.0,NaN,NaN,NaN,0.07490,NaN,NaN
4275,SJRS,SJRS01754,NaN,NaN,NaN,4152.0,NaN,NaN,NaN,0.05040,NaN,NaN

- 檢視整理好的、species-based 資料

In [206]:
df_sp_based = pd.read_csv('210607_CSV_All_Species_based.csv')
df_sp_based

,Location,Family,Species,Sample Size,TTRS_Elev_up,TTRS_Elev_low,TTRS_Elev_mid,TTRS_RS,TTRS_W_length,TTRS_B_length,TTRS_Weight,TTRS_CTmax,TTRS_CTmin,TTRS_CTrange,TTRS_Tmax,TTRS_Tmin,TTRS_Tmean,TTRS_DTR
0,Malaysia,Geometridae,CA_Abaxas_sp2,2,1959,1959,1959.0,0,28.025000,17.925000,0.027650,35.100000,0.100000,35.000000,17.298785,13.297546,15.040596,4.001239
1,Malaysia,Erebidae,CA_AGA01,2,1372,509,940.5,863,31.835000,22.700000,0.139000,41.000000,10.900000,30.100000,23.906834,18.108418,20.623503,5.798416
2,Malaysia,Erebidae,CA_AGA02,2,1066,903,984.5,163,31.390000,22.430000,0.094690,41.700000,NaN,NaN,23.963156,19.042622,21.094452,4.920534
3,Malaysia,Erebidae,CA_AGA03,1,1800,1800,1800.0,0,32.450000,24.520000,0.145590,NaN,NaN,NaN,18.717044,14.311935,16.155921,4.405110
4,Malaysia,Erebidae,CA_AMATA01,17,1374,903,1138.5,471,14.821875,12.638235,0.011705,41.800000,2.600000,39.200000,23.575832,18.442713,20.619982,5.133119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3173,China,Drepanidae,SJ_THY15,32,3579,2000,2789.5,1579,17.041875,12.862187,0.026804,38.342857,-1.976923,40.319780,21.146612,12.433047,15.682796,8.713565
3174,China,Drepanidae,SJ_THY16,7,2856,1864,2360.0,992,19.010000,15.688571,0.054564,NaN,-1.450000,NaN,20.522450,10.974509,14.733828,9.547941
3175,China,Drepanidae,SJ_THY17,4,2856,2000,2428.0,856,19.702500,15.540000,0.061695,40.600000,4.100000,36.500000,20.047220,10.660688,14.423787,9.386532
3176,China,Uraniidae,SJ_URA01,13,3175,1864,2519.5,1311,13.691667,9.000833,0.008242,39.166667,-1.200000,40.366667,20.598435,10.588436,14.490011,10.009999
3177,China,Uraniidae,SJ_URA02,5,2000,860,1430.0,1140,12.326000,9.526000,0.009460,45.100000,-2.300000,47.400000,27.522405,17.946845,21.213281,9.575560

In [204]:
df_sp_based.groupby('Location').mean()

,Sample Size,TTRS_Elev_up,TTRS_Elev_low,TTRS_Elev_mid,TTRS_RS,TTRS_W_length,TTRS_B_length,TTRS_Weight,TTRS_CTmax,TTRS_CTmin,TTRS_CTrange,TTRS_Tmax,TTRS_Tmin,TTRS_Tmean,TTRS_DTR
Location,,,,,,,,,,,,,,,
China,6.095238,2264.080357,1791.279762,2027.68006,472.800595,17.891089,14.309312,0.040103,42.124513,1.043026,41.207814,24.052720,14.644782,18.080844,9.407938
Malaysia,2.732166,1162.319066,994.237354,1078.27821,168.081712,13.120170,11.364688,0.019359,41.461537,2.737338,38.445990,23.199600,17.882645,20.171556,5.316955
Taiwan,12.023859,1858.044606,1346.986515,1602.51556,511.058091,18.245272,14.951575,0.057042,41.332484,1.809045,39.407495,23.964022,16.330847,19.326446,7.633176

In [210]:
df_taiwan = df_sp_based.query('Location == "Taiwan"')
print(df_taiwan.Species.nunique())
df_taiwan.Species.unique()

964

array(['"Adrapsa" sp.', '"Collix" sp.', '"Eilema" sp. 1',
       '"Eilema" sp. 2', '"Eilema" sp. 3', '"Koyaga" sp._blue',
       '"Lophophleps" sp.', '"Plecoptera" sp.', '"Rivula" sp.',
       '"Syncosmia" sp.', 'Abaciscus costimacula',
       'Abaciscus tristis tristis', 'Aberrasine lichenshihi',
       'Abraxas adilluminata', 'Abraxas consputa', 'Abraxas illuminata',
       'Abraxas persimplex', 'Abraxas placata', 'Abraxas submartiaria',
       'Abraxas suspecta', 'Abraxas tenellula', 'Abraxas tenuisuffusa',
       'Abraxas wilemani', 'Abrostola suisharyonis suisharyonis',
       'Acasis viretata himalayica', 'Achrosis rufescens',
       'Acolutha pictaria imbecilla', 'Acolutha pulchella semifulva',
       'Acosmetia chinensis', 'Acronicta gigasa', 'Acronicta hercules',
       'Acronicta intermedia', 'Acronicta pruinosa', 'Acronicta sp.',
       'Actias ningpoana ningtaiwana', 'Adrapsa incertalis',
       'Adrapsoides reticulatis', 'Aedia acronyctoides', 'Aelidae sp.',
       'Aeolanthes brochias', 'Aethalura duplicata',
       'Agathia magnificentia', 'Aglaomorpha histrio formosana',
       'Agnidra scabiosa fixseni', 'Agrius convolvuli', 'Agrotis taiwana',
       'Agylla pulchristriata', 'Alcis admissaria undularia',
       'Alcis hyberniata', 'Alcis maculata taiwanica', 'Alcis nubeculosa',
       'Alcis pallens', 'Alcis plebeia', 'Alcis postlurida',
       'Alcis rubicunda', 'Alcis scortea', 'Alcis semiusta',
       'Alcis subpunctata', 'Alcis taiwanensis', 'Alcis taiwanovariegata',
       'Allodontoides tenebrosa', 'Amata hirayamae', 'Amata wilemani',
       'Amblychia angeronaria', 'Amblychia moltrechti',
       'Ambulyx kuangtungensis', 'Ammatho honbaensis',
       'Ammatho karenkensis karenkensis', 'Ammatho shiou',
       'Ammatho tairadiata', 'Ampelophaga rubiginosa myosotis',
       'Amphipyra formosana', 'Amphipyra fuscusa',
       'Amphipyra tarokoensis', 'Amraica superans taiwana',
       'Amyna punctum', 'Anachrostis sp.', 'Anacronicta nitida',
       'Anania pata', 'Anaplectoides fuscivirens', 'Anaplectoides inouei',
       'Anatatha wilemani', 'Anectropis fumigata',
       'Anectropis semifascia', 'Antheraea yamamai superba',
       'Antipercnia cordiforma', 'Anuga lunulata',
       'Apamea aquila substriata', 'Apamea sodalis', 'Apamea taiwana',
       'Apithecia sp.', 'Apithecia viridata wilemani',
       'Aplexiphleps smaragdistis', 'Aplochlora costipicta',
       'Apospasta rantaizanensis', 'Apsarasa radians',
       'Arasada kanshireiensis', 'Arctioblepsis rubida',
       'Arctornis cygna', 'Arctornis l-nigrum okurai',
       'Arichanna marginata', 'Arichanna ochrivena', 'Arichanna picaria',
       'Arichanna pryeraria', 'Arichanna sinica refracta',
       'Arna bipunctapex', 'Artena dotata', 'Asidemia albovitta',
       'Asota egens confinis', 'Asota heliconia zebrina',
       'Asota tortuosa', 'Asura tricolor', 'Asuridia rubripennis',
       'Athetis bremusa', 'Athetis brunneolineosa', 'Athetis sp.',
       'Athetis stellata', 'Atrachea ochrotica', 'Atrachea sp. 1',
       'Atrachea viridinigra', 'Auaxa cesadaria', 'Auaxa mimosina',
       'Auchmis inextricata', 'Auzata simpliciata',
       'Auzatellodes arizana', 'Avatha chinensis', 'Avitta fasciosa',
       'Avitta puncta', 'Axylia putris triseriata',
       'Bamra albicola melli', 'Barsine sauteri', 'Barsura albidorsalis',
       'Bastilla acuta acuta', 'Bastilla arcuata', 'Bastilla fulvotaenia',
       'Bastilla praetermissa', 'Batracharta divisa',
       'Beara tortriciformis', 'Benbowia takamukuanus',
       'Bertula chunchunyangae', 'Bertula incisa', 'Bertula quadripuncta',
       'Bertula terminalis', 'Besaia sordida',
       'Betashachia angustipennis angustipennis', 'Bharetta owadai',
       'Biston perclara', 'Biston regalis comitata',
       'Blasticorhinus bifasciata', 'Blasticorhinus rivulosa',
       'Blasticorhinus ussuriensis', 'Blenina quinaria',
       'Bombyx mandarina formosana', 'Botyodes asialis',
       'Botyodes principalis', 'Bradina atopalis taiwanensis',
       'Bradina aulacodialis', 'Bradina sp. 3', 'Bradina sp. 4',
       'Brahmaea wallichii insulata', 'Brevipecten consanguis',
       'Brunia antica', 'Bryomoia melachlora', 'Bryophilina mollicula',
       'Cabera niveopicta', 'Caiella martini', 'Caiella pygmy',
       'Calliteara angulata', 'Calliteara arizana',
       'Calliteara horishanella', 'Calliteara lunulata takamukuana',
       'Calliteara postfusca', 'Callopistria deflexusa',
       'Callopistria delicata', 'Callopistria maillardi maillardi',
       'Callopistria nigrescens', 'Callopistria nobilior',
       'Callopistria phaeogona', 'Callopistria pulchrilinea',
       'Callopistria repleta', 'Callopistria rivularis',
       'Callygris compositata basistrigaria', 'Calyptra thalictri',
       'Cania heppneri', 'Carea internifusca', 'Catocala dejeani owadai',
       'Catocala intacta taiwana', 'Catocala okurai', 'Catocala shirozui',
       'Catoria sublavaria', 'Cechetra lineosa', 'Ceratarcha umbrosa',
       'Ceratonema apodina', 'Cernyia usuguronis',
       'Cerura erminea formosana', 'Chadisra bipars',
       'Chadisra bipartita', 'Chandata taiwana', 'Chartographa convexa',
       'Chasminodes pseudalbonitens', 'Checupa stegeri',
       'Chiasmia defixaria', 'Chibiraga banghaasi', 'Chlorissa arcana',
       'Chloroclystis blanda', 'Chloroclystis rubroviridis',
       'Chorsia albiscriptus', 'Chrysaeglia magnifica',
       'Chrysodeixis eriosoma', 'Chrysodeixis minutus',
       'Chrysodeixis taiwani', 'Chrysorabdia taiwana',
       'Chrysorabdia vilemani', 'Chundana emarginata', 'Churinga virago',
       'Chytonix sp. 1', 'Chytonix sp. 2', 'Chytonix variegata',
       'Cidariplura bilineata', 'Cidariplura maraho', 'Cidariplura sp.',
       'Cidariplura tsoyuanhsiehi', 'Circobotys sp.', 'Clelea formosana',
       'Cleora contiguata contiguata', 'Cleora fraterna', 'Cleora sp.',
       'Clethrophora distincta', 'Clostera anachoreta',
       'Cnethodonta grisescens baibarana', 'Collix ghosha',
       'Comibaena pictipennis pictipennis', 'Comibaena procumbaria',
       'Comibaena subdelicata', 'Comostola enodata', 'Comostola laesaria',
       'Comostola ocellulata', 'Comostola satoi', 'Comostola sp.',
       'Comparmustilia gerontica', 'Condica illecta', 'Condica sp.',
       'Conogethes sp.', 'Corgatha costimacula', 'Corgatha sp. 1',
       'Corgatha sp. 2', 'Corymica pryeri', 'Corymica spatiosa',
       'Cosmia achatina', 'Cosmia moderata', 'Cosmia sp.',
       'Cosmotriche discitincta discitincta', 'Cotachena pubescens',
       'Crambidae sp. 1', 'Crambus sp.',
       'Creatonotos transiens vacillans', 'Crocidolomia sp.',
       'Cryphia granitalis', 'Cryphia hohuana', 'Ctenoplusia albostriata',
       'Ctenoplusia mutans', 'Cusiala boarmioides', 'Cyana formosana',
       'Cyana hamata hamata', 'Cyana sanguinea', 'Cyana sp. 1',
       'Cymoriza sp.', 'Daddala lucilla', 'Danielithosia sp. 1',
       'Danielithosia sp. 2', 'Danielithosia sp. 3',
       'Deileptenia rimosaria', 'Dendrolimus arizana',
       'Dendrolimus punctatus', 'Dendrolimus taiwana',
       'Deroca hidda ampla', 'Diarsia arenosoides', 'Diarsia cia',
       'Diarsia formosensis', 'Diarsia nigrafasciata',
       'Diarsia nigrosigna', 'Diarsia sp.', 'Diarsia subtincta',
       'Diarsia yoshimotoi', 'Diduga flavicostata',
       'Dilophodes elegans khasiana', 'Dindica polyphaenaria',
       'Dindica taiwana', 'Dindica wilemani', 'Diomea insulana',
       'Diomea sp.', 'Discibocome pulchra', 'Disparia diluta variegata',
       'Disparia wilemani', 'Ditrigona conflexaria micronioides',
       'Dolbina inexacta', 'Drepana pallida nigromaculata',
       'Dudusa nobilis', 'Dypterygia subfusca', 'Dysaethria flavistriga',
       'Dysaethria sp.', 'Dysstroma calamistratum',
       'Dysstroma cinereata cinereata', 'Dysstroma fumata',
       'Dysstroma sikkimensis', 'Earias punctaria', 'Earias roseifera',
       'Earias sp.', 'Ecliptopera benigna', 'Ecliptopera delecta',
       'Ecliptopera muscicolor allobathra', 'Ecliptopera recordans',
       'Ecliptopera rectilinea kanshinensis',
       'Ecliptopera umbrosaria stathera', 'Ectogonia butleri',
       'Ectogonia sp.', 'Ectropis arizanensis', 'Ectropis bhurmitra',
       'Ectropis excellens', 'Eilema karenkona', 'Eilema pulverea',
       'Eilema ratonis', 'Eilema sp. 1', 'Eilema sp. 2',
       'Eilema subcosteola', 'Eligma narcissus', 'Elusa ustula',
       'Endotricha metacuralis', 'Endotricha olivacealis',
       'Entomopteryx combusta', 'Episparis taiwana',
       'Epobeidia lucifera extranigricans', 'Epobeidia tigrata maxima',
       'Ercheia umbrosa', 'Ericeia pertendens', 'Ericeia subcinerea',
       'Eublemma sp.', 'Euchristophia cumulata meridionalis',
       'Eucyclodes gavissima aphrodite', 'Eucyclodes lalashana',
       'Eudocima okurai', 'Eudocima phalonia', 'Eudocima tyrannus',
       'Eugoa cernyi', 'Eugoa formosicola', 'Eugoa grisea',
       'Eugoa sinuata', 'Eugoa sp.', 'Euhampsonia cristata',
       'Euhampsonia formosana', 'Eupithecia quadripunctata',
       'Euplexia albirena', 'Euplexidia pallidivirens',
       'Euproctis baibarana', 'Euproctis croceola', 'Euproctis inornata',
       'Euproctis kanshireia', 'Euproctis marginata insulata',
       'Euproctis nigricauda', 'Euproctis purpureofasciata',
       'Euproctis sericea', 'Euproctis sp.', 'Euproctis sparsa',
       'Euproctis staudingeri', 'Euproctis taiwana',
       'Euromoia subpulchra', 'Eurukuttarus tatahashii',
       'Euryobeidia largeteaui', 'Eushachia acyptera insido',
       'Euthrix ochreipuncta', 'Euthrix tamahonis',
       'Fascellina chromataria', 'Fascellina plagiata',
       'Fascionycta fasciata', 'Feliniopsis asahinai',
       'Fentonia baibarana', 'Fentonia macroparabolica',
       'Fentonia parabolica', 'Flavinarosa obscura',
       'Formofentonia orbifer rotundata', 'Gabala roseoretis',
       'Galleria mellonella', 'Gampola sp.', 'Ganhara sp.',
       'Garaeus apicata formosanus', 'Garaeus argillacea',
       'Gasterocome pannosaria orta', 'Gastropacha horishana',
       'Gastropacha insularis', 'Gastropacha pardale formosana',
       'Gazalina purificata', 'Gelastocera exusta', 'Genoveva magnirena',
       'Ghoria bani', 'Ghoria subpurpurea', 'Ginshachia elongata',
       'Glyphodes chilka', 'Gnophos delitescens',
       'Gonanticlea ochreivittata', 'Griseothosea fasciata',
       'Gymnasura semilutea', 'Gymnoscelis albicaudata',
       'Gymnoscelis sp.', 'Habrosyne indica formosana',
       'Hadennia macrobliqua', 'Hamodes propitia',
       'Harmandicrania harmandi', 'Harutaea flavizona',
       'Harutalcis fumigata', 'Hastina subfalcaria caeruleolineata',
       'Helicoverpa armigera', 'Hemipsilia coavestis', 'Hemipsilia sp.',
       'Hemistola monotona', 'Hemistola simplex', 'Herminia decipiens',
       'Herminia kurokoi', 'Herminia sp.', 'Herminia vermiculata',
       'Hermonassa formontana', 'Hermonassa hemicyclia',
       'Hermonassa inconstans', 'Hermonassa legraini', 'Hesudra divisa',
       'Heterolocha biplagiata', 'Heterolocha coccinea',
       'Heterophleps confusa punkikonis', 'Heterostegania lunulosa',
       'Heterothera incerta', 'Heterothera sororcula',
       'Hexafrenum leucodera yamamotoi', 'Hexafrenum maculifer',
       'Higena trichosticha', 'Himachalia formosana', 'Hipoepa biasalis',
       'Hirasa punctivenaria taiwana', 'Hoplodrina implacata',
       'Horithyatira decorata takamukui', 'Hupodonta corticalis',
       'Hupodonta lignea', 'Hydatocapnia gemina', 'Hydrelia bicolorata',
       'Hydrillodes fusca', 'Hydrillodes nilgirialis', 'Hydrillodes sp.',
       'Hylophilodes tsukusensis', 'Hypena albopunctalis',
       'Hypena cyanea', 'Hypena iconicalis', 'Hypena indicatalis',
       'Hypena longipennis', 'Hypena nepa', 'Hypena perspicua',
       'Hypena sinuosa', 'Hypena sp.', 'Hypena sp. 1', 'Hypena sp. 2',
       'Hypena taiwana', 'Hypena tenebralis', 'Hypena trigonalis',
       'Hypena tristalis', 'Hypenagonia obliquifascia',
       'Hypenomorpha sp.', 'Hypersypnoides formosensis',
       'Hypersypnoides punctosa', 'Hypersypnoides quadrinotata',
       'Hypersypnoides submarginata', 'Hypocala deflorata',
       'Hypocala subsatura', 'Hypocala violacea', 'Hypocometa clauda',
       'Hypomecis cineracea', 'Hypomecis formosana', 'Hypomecis monotona',
       'Hypomecis nudicosta', 'Hypomecis obliquisigna',
       'Hypomecis percnioides', 'Hypomecis punctinalis glos',
       'Hyposidra talaca talaca', 'Hypospila bolinoides',
       'Hysteroscene hyalina', 'Hysterura protagma agaura',
       'Idaea sugillata', 'Ilema kosemponica', 'Ilema nachiensis',
       'Ilema olivacea', 'Ilema sp.', 'Iotaphora admirabilis',
       'Iraga rugosa', 'Iragaodes nobilis', 'Isoura fuscicollis',
       'Jankowskia taiwanensis', 'Jodis rantaizanensis',
       'Karana gemmifera', 'Katha magnata magnata',
       'Katha sp._small_yellow', 'Kerala lentiginosa', 'Kerala sp.',
       'Koyaga sp.', 'Koyaga virescens', 'Koyaga viriditincta',
       'Krananda oliveomarginata', 'Krananda semihyalina',
       'Kunugia undans metanastroides', 'Laelia formosana', 'Laelia sp.',
       'Laelia striata', 'Lamida obscura',
       'Lassaba parvalbidaria parvalbidaria', 'Lemyra rhodophilodes',
       'Lemyra wernerthomasi', 'Leptomiza calcearia calcearia',
       'Leucapamea feketeanyaka', 'Leucapamea formosensis',
       'Leucapamea tsueyluana', 'Leucoblepsis taiwanensis',
       'Leucoma clara', 'Liparopsis postalbida',
       'Lithosiinae sp._seasome spots',
       'Lithosiinae sp._white&black_spot', 'Lithosiini sp. 2',
       'Lithosiini sp._small', 'Lobogonodes taiwana',
       'Locastra muscosalis', 'Lomographa claripennis',
       'Lomographa inamata', 'Lomographa margarita',
       'Lomographa percnosticta', 'Lomographa platyleucata marginata',
       'Lophobates inchoata', 'Lophocosma nigrilinea geniculata',
       'Lophontosia fusca', 'Lophophelma iterans onerosus',
       'Lophophelma taiwana', 'Lophophleps informis',
       'Lophoptera longipennis', 'Lophoptera sp. 1',
       'Loscopia scotoptera insularis', 'Loxaspilates montuosa',
       'Loxopamea rufus', 'Luceria sp.', 'Luxiaria amasa amasa',
       'Luxiaria mitorrhaphes', 'Lygniodes hypoleuca',
       'Lymantria concolor concolor', 'Lymantria grisea',
       'Lymantria mathura subpallida', 'Lymantria monacha',
       'Lymantria pulverea', 'Lymantria sugii', 'Lymantria umbrifera',
       'Lymantria xylina xylina', 'Lysimelia lucidoides',
       'Macrocilix mysticata flavotincta', 'Magusa interrupta',
       'Magusa tenebrosa', 'Mahanta kawadai', 'Maliattha signifera',
       'Mamestra brassicae', 'Martania taiwana',
       'Marumba cristata bukaiana', 'Marumba gaschkewitschii gressitti',
       'Marumba sperchius sperchius', 'Mataeomera biangulata',
       'Matsumursine horishanella', 'Maxates acutigoniata',
       'Maxates extrambigua', 'Maxates grandificaria', 'Medama diplaga',
       'Meganola triangulalis', 'Melanthia catenaria mesozona',
       'Melanthia procellata szechuanensis', 'Melapia kishidai',
       'Menophra anaplagiata', 'Menophra humeraria', 'Menophra mitsundoi',
       'Menophra nakajimai', 'Menophra taiwana',
       'Mesastrape fulguraria fulguraria', 'Mesoleuca costipannaria',
       'Mesophalera stigmatoides', 'Mesoplectra sp. 2',
       'Mesoplectra sp. 3', 'Mesoplectra sp._small',
       'Mesoptila melanolopha', 'Metaemene atrigutta',
       'Metaemene hampsoni', 'Metanastria hyrtaca',
       'Meteugoa ochrivena japonica', 'Micreremites sp.',
       'Microblepsis violacea', 'Micronidia intermedia',
       'Microphalera grisea yoshimotoi', 'Miltochrista acteola',
       'Miltochrista alikangiae', 'Miltochrista arcuata',
       'Miltochrista mediobliqua', 'Miltochrista sp.',
       'Miltochrista wenchiyehi', 'Miltochrista yueh', 'Mithuna arizana',
       'Mniotype aulombardi', 'Mocis annetta', 'Mocis frugalis',
       'Monema rubriceps', 'Monocerotesa conjuncta',
       'Monocerotesa flavescens', 'Monocerotesa unifasciata',
       'Morionia sciara', 'Mosopia parasordidum', 'Mosopia sp. 1',
       'Mosopia subnubila', 'Mustilia gerontica',
       'Myrioblephara fenchihuana', 'Myrioblephara simplaria simplaria',
       'Mythimna argentata', 'Mythimna bistrigata', 'Mythimna guanyuana',
       'Mythimna hannemanni', 'Mythimna lishana', 'Mythimna loreyi',
       'Mythimna martoni', 'Mythimna plantei', 'Mythimna radiata',
       'Mythimna sinuosa', 'Naarda sp.', 'Nacna buschmannferenci',
       'Nacoleia charesalis', 'Nadagara subnubila', 'Nadagara umbrifera',
       'Nanola sp.', 'Narangodes argyrostrigatus',
       'Narangodes flavibasis', 'Narosa nigrisigna',
       'Narosoideus flavidorsalis', 'Neachrostia limbata',
       'Neachrostis sp.', 'Negeta signata', 'Neodrymonia comes',
       'Neopheosia fasciata fasciata', 'Nephelomilta karenkonis',
       'Nephopterix sp.', 'Netria multispinae multispinae',
       'Nevrina procopia', 'Nishada chilomorpha adunca',
       'Nodaria externalis', 'Nodaria tristis', 'Nola formosalesa',
       'Nola marginata', 'Nola sp. 1', 'Nola sp. 2', 'Nola sp. 3',
       'Nordstromia semililacina', 'Norracoides basinotata',
       'Nosphistica acriella', 'Notata parva', 'Notodonta griseotincta',
       'Nudaria ranruna', 'Nudaria sp.', 'Numenes takamukui',
       'Nyctemera adversata', 'Nyctemera arctata albofasciata',
       'Nyctemera carissima formosana',
       'Obeidia vagipardata albomarginata', 'Oberthueria formosibia',
       'Ocoelophora lentiginosaria festa', 'Odonestis bheroba formosae',
       'Odonestis pruni', 'Odontopera albiguttulata',
       'Odontopera bilinearia subarida', 'Oglasa mediopallens',
       'Olene dudgeoni', 'Olene suisharyonis', 'Olivenebula oberthueri',
       'Omiodes sp.', 'Ophthalmitis albosignaria viridans',
       'Opisthograptis moelleri', 'Opisthograptis punctilineata',
       'Oreta brunnea', 'Oreta insignis', 'Oreta loochooana',
       'Organopoda carnearia carnearia', 'Orgyia postica',
       'Oroplema plagifera', 'Orothalassodes sp.',
       'Orthocabera sericea sericea', 'Orthocraspeda furva', 'Oruza mira',
       'Orybina flaviplaga', 'Ourapteryx changi',
       'Ourapteryx clara formosana', 'Ourapteryx flavovirens',
       'Ourapteryx monticola', 'Ourapteryx pallidula',
       'Ourapteryx ramosa', 'Ourapteryx taiwana',
       'Ourapteryx yerburii virescens', 'Ovipennis connexa',
       'Oxacme cretacea', 'Oxymacaria deformis',
       'Oxymacaria temeraria temeraria', 'Oxymacaria truncaria truncaria',
       'Oxyodes scrobiculata', 'Pachyodes subtrita', 'Pagyda nebulosa',
       'Palpita asiaticalis', 'Palpita hypohomalia', 'Palpita warrenalis',
       'Pangrapta lunulata', 'Pangrapta sp.', 'Pangrapta trilineata',
       'Panilla mila', 'Panthea grisea', 'Paracolax angulata',
       'Paracymoriza cataclystalis', 'Paracymoriza taiwanalis',
       'Paradarisa chloauges chloauges',
       'Paradarisa comparataria rantaizanensis',
       'Paradoxopla sinuata taiwana', 'Paralebeda femorata mirabilis',
       'Paraona staudingeri formosana',
       'Parapsestis argenteopicta taiwana', 'Parasa shirakii',
       'Parasa sinica', 'Parasiccia limbata', 'Parasiccia sp.',
       'Parbattia arisana', 'Pareclipsis serrulata',
       'Parectropis nigrosparsa', 'Parectropis subflava',
       'Parobeidia gigantearia marginifascia', 'Parotis athysanota',
       'Pelagodes antiquadraria', 'Pelosia muscerda tetrasticta',
       'Penicillaria maculata', 'Pennithera manifesta',
       'Pennithera subcomis', 'Peralostega deletaria deletaria',
       'Peratophyga grata stuningi', 'Perciana marmorea',
       'Perciana taiwana', 'Percnia longitermen',
       'Percnia luridaria nominoneura', 'Percnia suffusa',
       'Pergesa acteus', 'Peridea graeseri tayal',
       'Peridea moorei ochreipennis', 'Peridroma saucia',
       'Perixera absconditaria absconditaria',
       'Perixera minorata dubiosa', 'Perizoma fasciaria',
       'Phalacra strigata insulicola', 'Phalera sp.',

#### 根據影像檔名抓出對應的物種代號
- CA
- SJ
- MC

In [261]:
dir_imgs = Path('../origin')
paths_imgs = list(dir_imgs.glob('*.png'))
print(len(paths_imgs))
fnames_imgs = [path.stem for path in paths_imgs]
df_imgs = pd.DataFrame(fnames_imgs, columns=['fname'])
df_imgs

8921

                                                  fname
0     Aberrasine lichenshihi_male_FBG_10-IV-2015_SWu...
1      Abraxas adilluminata Inoue, 1984_male_01_cropped
2     Abraxas adilluminata_female_Biluxi_1-VII-2015_...
3     Abraxas adilluminata_female_Hewang_28-X-2015_d...
4        Abraxas adilluminata_female_MTTS1558_1_cropped
...                                                 ...
8916  Xestia supravidua_male_MCE2750_24-25-VII-2015_...
8917   Xestia supravidua_PT_female_Taiwan_800px_cropped
8918            Xestia tamsi_NSMT2015_180_1_800_cropped
8919  Yashmakia suffusa_male_Wulai_15-III-2014_SWu&W...
8920            Zeuzera multistrigata_male_51mm_cropped

[8921 rows x 1 columns]

In [231]:
df_origin = pd.read_csv('origin.csv',sep='\t', header=None,  names=['fname'])
df_origin['fname'] = df_origin.fname.str.replace('.png', '')
df_origin

                                                  fname
0     Aberrasine lichenshihi_male_FBG_10-IV-2015_SWu...
1     Abraxas adilluminata_female_Biluxi_1-VII-2015_...
2     Abraxas adilluminata_female_Hewang_28-X-2015_d...
3        Abraxas adilluminata_female_MTTS1558_1_cropped
4         Abraxas adilluminata_female_MTTS302_1_cropped
...                                                 ...
8916  Xestia supravidua_male_MCE2750_24-25-VII-2015_...
8917   Xestia supravidua_PT_female_Taiwan_800px_cropped
8918            Xestia tamsi_NSMT2015_180_1_800_cropped
8919  Yashmakia suffusa_male_Wulai_15-III-2014_SWu&W...
8920            Zeuzera multistrigata_male_51mm_cropped

[8921 rows x 1 columns]

- CA&SJ

In [281]:
idx = df_imgs.query('fname.str.contains("CA") or fname.str.contains("SJ")').index.values

In [296]:
df_imgs_ = df_imgs.iloc[idx].copy()

In [286]:
pattern = "SJ|CA{1}TT|RS{1}[\d]*"
regex = re.compile()
df_imgs.iloc[idx].fname.apply(lambda x : regex.search(x))

85      <_sre.SRE_Match object; span=(6, 8), match='SJ'>
86      <_sre.SRE_Match object; span=(6, 8), match='SJ'>
87      <_sre.SRE_Match object; span=(6, 8), match='SJ'>
88      <_sre.SRE_Match object; span=(6, 8), match='SJ'>
89      <_sre.SRE_Match object; span=(6, 8), match='SJ'>
                              ...
8901    <_sre.SRE_Match object; span=(6, 8), match='SJ'>
8902    <_sre.SRE_Match object; span=(6, 8), match='SJ'>
8903    <_sre.SRE_Match object; span=(6, 8), match='SJ'>
8904    <_sre.SRE_Match object; span=(6, 8), match='SJ'>
8905    <_sre.SRE_Match object; span=(6, 8), match='SJ'>
Name: fname, Length: 8346, dtype: object

In [298]:
pattern = "SJTT[\d]*|CATTT[\d]*|CARS[\d]*|SJRS[\d]*"
df_imgs_.fname.str.findall(pattern)

85       [SJTT0564]
86       [SJTT0586]
87       [SJTT0925]
88      [SJRS00701]
89      [SJRS00733]
           ...
8901     [SJTT0713]
8902     [SJTT0747]
8903     [SJTT0747]
8904     [SJTT0812]
8905     [SJTT1242]
Name: fname, Length: 8346, dtype: object

- MC